Barsoomx, DBM-wowcircle, master, DBM-.+
#Barsoomx, xCT_Plus_wotlk, master, xCT\+
#ElvUI-WotLK, ElvUI, master, ElvUI|ElvUI_OptionsUI
#ElvUI-WotLK, ElvUI_Enhanced, master, ElvUI_Enhanced
#ElvUI-WotLK, ElvUI_AddOnSkins, master, ElvUI_AddOnSkins
#ElvUI-WotLK, ElvUI_SwingBar, master, ElvUI_SwingBar
#ElvUI-WotLK, ElvUI_DTBars2, master, ElvUI_DTBars2
#Bunny67, WeakAuras-WotLK, master, WeakAuras.*
#Bunny67, Details-WotLK, master, Details.*
#Zidras, ElvUI_ImprovedSpecSwitch, master, ElvUI_ImprovedSpecSwitch
#GetLocalPlayer, DressMe, master, DressMe
#ajseward, RcLootCouncil-Wotlk, master, RCLootCouncil
#ajseward, RaidAssist_WotLK, master, RaidAssist
#ajseward, TradeSkillMaster, master, TradeSkillMaster.*
#bkader, KPack, main, KPack
#bkader, Talented_WoTLK, main, Talented
#bkader, PlateBuffs_WoTLK, main, PlateBuffs
#bkader, NameplateSCT_WoTLK, main, NameplateSCT
#bkader, TidyPlates_WoTLK, main, TidyPlates.*
#bkader, KuiNameplates-WoTLK, main, Kui_Nameplates.*
#bkader, Skada-Revisited, main, Skada.*
#RomanSpector, UnitFrameLayers, main, UnitFrameLayers
#RomanSpector, AbbreviatedStatus, main, AbbreviatedStatus
#RomanSpector, CompactRaidFrame, main, CompactRaidFrame
#RomanSpector, LossOfControl, main, LossOfControl
